[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pipenv-to-requirements = "*"

[packages]
unicodecsv = "*"
openpyxl = "*"
xlrd = "*"
xlwt = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
pyyaml = "*"
sklearn = "*"

[requires]
python_version = "3.8"
